.topLayer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.left{
    text-align: center;
    border: 1px green solid;
}

.center{
    font-size: 18px;
    color: green;
    text-align: center;
    font-weight: bolder;
}

.right{
    font-size: 18px;
    color: green;
    font-weight: bolder;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 25px;
}
.sidebar{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: rgba(0, 128, 0, 0.856);
    padding-left: 35%;
    height: 70vh;

}
.mainbar{
}

.sidebar button{
    margin-top: 10px;
    width: 150px;
    
}

.footer{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 8vh;
    margin-top: 15px;
    padding-top: 25px;
    font-family: tahoma;
    font-size: 13px;
    margin-bottom: 0;
}

.Fleft{
text-align: center;
}
.Fcenter{
    text-align: center;
    font-weight: bolder;

}
.Fright{
    text-align: center;
    color: green;
    font-weight: bolder;
}


.TableUserForm,.TableTaskForm  {
    width: 50%;
    margin-left: 25%;
}

.container h3 {
    text-align: center;
}
table tr{
    height: 45px;
    color: green;
}
.TableUserForm input[type="text"] {
    width: 100%;
    border:none;
    border-bottom: 2px solid green ;
}

.TableTaskForm input[type="text"] {
    width: 100%;
    border:none;
    border-bottom: 2px solid green ;
}

.Btn_SubmitTask,.Btn_SubmitUser{

    width: 100%;
    margin-top:10px;
    height: 30px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;

}